  <h1>Raf Games - sua loja de games físicos!</h1>

  <h4 class="text-white">{{ anuncio }}</h4>
  <div class="row">
    <div class="col text-dark">

      <app-card-produto
        [foto]="foto"
        [nomeProduto]="nomeProduto"
        [promocao]="promocao"
        [idProduto]="idProduto"
        [precoProduto]="precoProduto"
        [plataforma]="plataforma"
      ></app-card-produto>

    </div>
    <div class="col text-dark">

      <app-card-produto
        foto="/assets/img/spyro.jpg"
        nomeProduto="Spyro Reignited Trilogy"
        [promocao]=""
        idProduto="15"
        dataValidade="2021-08-31"
        precoProduto="89.90"
        plataforma="PS4"
      ></app-card-produto>



    </div>

    <div class="col text-dark">

      <app-card-produto
        foto="/assets/img/gow.jpg"
        nomeProduto="God of War"
        [promocao]=""
        idProduto="19"
        dataValidade="2021-08-31"
        precoProduto="70.00"
        plataforma="PS4"
      ></app-card-produto>



    </div>

  </div>
  <br/>
  <div class="row">
    <div class="col text-dark">

      <app-card-produto
        foto="/assets/img/horizon.jpg"
        nomeProduto="Horizon Zero Dawn"
        [promocao]=""
        idProduto="16"
        dataValidade="2021-08-31"
        precoProduto="40.00"
        plataforma="PS4"
      ></app-card-produto>

    </div>

    <div class="col text-dark">

      <app-card-produto
        foto="/assets/img/tlou2.jpg"
        nomeProduto="The Last of Us Part II"
        [promocao]=""
        idProduto="17"
        dataValidade="2021-08-31"
        precoProduto="150.00"
        plataforma="PS4"
      ></app-card-produto>



    </div>
    <div class="col text-dark">

      <app-card-produto
        foto="/assets/img/uncharted4.png"
        nomeProduto="Uncharted 4"
        [promocao]=""
        idProduto="18"
        dataValidade="2021-08-31"
        precoProduto="50.00"
        plataforma="PS4"
      ></app-card-produto>



    </div>

  </div>
